<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <form action="/users" method="post">
    <div>
      <label htmlFor="name">FirstName: </label>
      <input type="text" name="firstname" placeholder="Enter Your FirstName" />
    </div>
    <br /><br />

    <div>
      <label htmlFor="name">LastName: </label>
      <input type="text" name="lastname" placeholder="Enter Your LastName" />
    </div>
    <br /><br />

    <div>
      <label htmlFor="name">PhoneNummber: </label>
      <input type="number" name="phonenumber" placeholder="Enter Your PhoneNummber" />
    </div>
    <br /><br />


    <div>
      <label htmlFor="age">Email: </label>
      <input type="email" name="email" placeholder="Enter Your Email" />
    </div>

    <div>
      <label htmlFor="age">Password: </label>
      <input type="password" name="password" placeholder="Enter Your Password" />
    </div>
    <br />
    <button type="submit"> SignUP </button>
  </form>
</body>

</html>